
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: gray;
    text-align: justify;
    min-height: 100vh;
}

@font-face{
    font-family:"comic";
    src: url(fonts/ComicNeueSansID.ttf);
}
header{
    color: aliceblue;
    min-height: 200px;
    text-align: center;
    padding-top: 20px;
    background-color:black ;
}
header > h1{
    text-align: center;
    font-size: 6vh;
    justify-content: center;
    font-variant: small-caps;
}
main{
    font-family: "comic";
    font-weight: 500;
}
article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 2.5;
    font-size: 3vh;
}
article.normal{
    background-color: aliceblue;
    color: black;
}
article.fundo{
    background-color: rgba(55, 55, 55, 0.308);
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    background-attachment: fixed;
}
article.fundo > p{
    background-color: rgba(0, 0, 0, 0.366);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 2px 1px black;
}
article#img01{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}
article#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}
